body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.sepia-mode {
    background-color: #F4ECD8;
    color: #5B4636;
}

textarea {
    background-color: #ffffff !important;
    color: #000000 !important;
    width: 300px;
    height: 150px;
}