.kotak-input {
    display: block;
    resize: none;
}

p > span {
    color: coral; /* atau juga bisa pakai kode hex-nya, #FF7F50 */
    font-weight: bold;
}

body{
   margin: 0;
   
}

.container {
    width: 800px;
    padding: 40px;
    border-radius: 4px;
    margin: 60px auto;
}

h1{
    text-align: center;
    margin-top: 0;
}

textarea{
    width: 100%;
    margin-top: 10px;
    height: 150px;
}

button {
    margin-top: 10px;
    margin-right: 5px;
}